<template>
  <div>
    {{data.filmData}}
  </div>

  <div class="q-pa-md">
    <q-table
      grid
      title="Films"
      :rows="rows"
      :columns="columns"
      row-key="name"
      :filter="filter"
      hide-header
    >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </div>

</template>

<script>
import Api from '../../src/api/Films'
import helpers from '../../src/api/helpers'
import { defineComponent, ref, computed, reactive, onMounted } from 'vue'
import axios from 'axios';
import Vue from 'vue';

export default defineComponent({
  name: 'MainLayout',

  components: {
    // EssentialLink
  },

  setup () {
    onMounted(()=>{
      componentMethods.getFilms();
    })
    const data = reactive({
      filmData: [],
      pagination: {
        currentPage: 1,
        limit: 10,
        start: undefined,
        query: ''
      }
    })

    const componentMethods = {
      getFilms: () =>
        {
          Api.selectRow(helpers.getParams(data.pagination), function(films)
          {
            data.filmData = films.root;
          });
        }
    }

    return {
      data,
      componentMethods,
    }
  }
})
// export default {
// data: function(){
//     return {
//         data: {}
//     }
// },
// getFilms: function()
//     {
//       var me = this;
//       Api.selectRow(me.getParams, function(data)
//       {
//         if(data.error && data.error == true)
//         {
//           me.$notify.notice(data);
//           return;
//         }
//         me.data = data;
//         console.log(data);
//       });
//     },
// }
</script>
